.text-align-center {
  text-align: center;
}

body {
  background-color: #89F9F9;
}

#title {
  margin: 0 auto;
  width: 80%;
}

button {
  margin-top: 10px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007BFF;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

